body {
    background-color: slategrey;
}

/* Style rules for hamburger menu */
.mobile-nav a {
    color: navy;
    font-family: 'Cabin Sketch', cursive, Verdana, Arial, sans-serif;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    border-bottom: 1px dashed navy;
}

.mobile-nav a.menu-icon {
    /* background-color: #FFF; */
    display: block;   
    position: absolute;
    left: -15px;
    top: -10px;
    border-bottom: none;
}

.tablet-desktop,
#menu-links {
    display: none;
}

header {
    height: 150px;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 100px;
    background-color: #45E0A7;
    margin-bottom: 10px;
}

main {
    border: green dashed 2px;
    height: 100%;
    background-color: #C9EDFE;
}

.section1 {
    border: red solid 3px;
    height: 100%;
    margin: 20px 36px;
    background-color: #00A9FE;
}

.section2 {
    border: purple solid 3px;
    height: 100%;
    margin: 20px 36px;
    background-color: #B6D7A3;
}

/* Styles relevant to the CLUB page */
.col-left {
    background-color: lightskyblue;
}

.col-right {
    background-color: lightcyan;
}

.calendar {
    background-color: white;
    width: 400px;
    height: 400px;
    border: solid 2px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
A bit of a struggle to get the button centered on the page. <<<<<<<<<<<<<<
https://www.w3schools.com/css/css_align.asp
*/
.btn {
    margin: 10px;
    /* position: absolute;
    top: 50%;
    left: 50%; */
}

.thumbnail {
    /* background-color: #FFF2B4; */
    /* width: 200px;
    height: 200px; */
    /* border: solid 1px black; */
    /* Centering the thumbnail in the column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details {
    background-color: #EDFFA9;
    /* width: 200px;
    height: 200px;
    border: solid 1px black; */
    /* Centering the details in the column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles relevant to the BOOK page */
.avatar-thumbnail {
    background-color: red;
    width: 100px;
    height: 100px;
    border: solid 1px black;
}

.review-details {
    background-color: white;
    height: 100px;
    border: solid 1px black;
}


/* Styles relevant to the DISCUSSION page */
.questions {
    background-color: white;
    /* color: navy; */
    /* font-weight: bold; */
    /* font-size: 1em; */
    /* width: 90%; */
    /* height: 90%; */
    border: solid 1px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questions ul {
    margin: 0;
    padding: 0;
}

.questions ul li {
    list-style-type: none;
    border-bottom: 0.5px dashed navy;
    margin: 5px;
    text-align: left;
}

.questions ul li:last-child {
    border: 0;
}

/* Styles relevant to the TEACHER page */
.avatar-large {
    background-color: yellow;
    width: 200px;
    height: 200px;
    border: solid 1px black;
}

.short-bio {
    background-color: lightcyan;
    height: 100px;
    border: solid 2px orange;
}

.shelf {
    background-color: #DDDDDD;
    border: 1px solid #777777;
    margin: 20px 36px;
}

.thumbnail-small {
    background-color: #FFF2B4;
    width: 100px;
    height: 150px;
    border: solid 1px black;
    /* Centering the thumbnail in the column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details-small {
    background-color: #EDFFA9;
    width: 15 0px;
    height: 100px;
    border: solid 1px black;
    /* Centering the details in the column */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 10px;
    height: 75px;
    background-color: #B980FF;
}

/* Media Query for Tablet Viewport */
/* ==================================================================== */
@media screen and (min-width: 700px) {

    .tablet-desktop {
        display: block;
    }

    /* Hide mobile specific content */
    .mobile,
    .mobile-nav {
        display: none;
    }

    nav {
        background-color: #4455bb;
    }
    
    nav ul {
        list-style-type: none;
        text-align: center;
    }

    nav li {
        display: inline-block;
        font-size: 1.25em;
        font-family: 'Cabin Sketch', cursive, Verdana, Arial, sans-serif;
        font-weight: bold;
        border: 1px solid #66bb66;
    }

    nav li a {
        display: block;
        color: #ffffe6;
        text-align: center;
        padding: 0.5em 1em;
        text-decoration: none;
    }
    
    nav li a:hover {
        color: #ffee66;
    }
}